.chart-page {
  height: 100%;
  background-color: rgba(230, 250, 230, 0.5);
}
.chart-page .chart-container {
  width: 100%;
  height: 100%;
}
.chart-page .chart-container .chart-data {
  width: var(--public_chart_data_width);
  height: 100%;
  padding: 10px;
}
.chart-page .chart-container .chart-option {
  width: var(--public_chart_option_width);
  height: 100%;
  padding: 2px;
  position: relative;
}
.chart-page .chart-container .chart-option .chart-title {
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 200px;
  font-weight: bolder;
}
.chart-page .chart-container .chart-main {
  width: calc(100% - var(--public_chart_option_width));
  height: 100%;
  padding: 5px;
  background-color: #d7d6d6;
}
#chartviewer-page {
  width: calc(100%);
  height: calc(100%);
  background-color: #fff !important;
}
